/* @import url() */


.container-fluid{
    background-color: rgb(241, 126, 155);
}

.main{
    display: flex;
    background: linear-gradient(135deg, rgb(226, 117, 164),#d4799a);
}

.main-img{
   background-image: url("https://img.freepik.com/premium-photo/sky-wallpaper-calming-clouds-stars-colorful-sunny-airy-relaxing-serene-peaceful_962751-1686.jpg");
   color: white;
   width: 900px;
   height: 700px;
   background-size: cover;
   text-align: center;
   align-content: center;

}

.wrapper{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-self: center;
    text-align: center;
    align-items: center;
    box-shadow: 10px 10px 5px;
    margin-left: 150px;
    width: 400px;
    height: 350px;
    color: white;
    border: solid #fff;
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur(30px);
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    padding: 10px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder {
    color: #fff;

}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    /* transform: translateY(-50); */
    font-size: 20px;

}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    /* margin: -15px 0 15px; */
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;

}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(226, 117, 164),#d4799a);
    padding: 10px;
}

.todo{
    width: 100%;
    max-width: 540px;
    background:rgb(235, 139, 180);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo h2{
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d4799a;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    
}

.row input::placeholder{
    color: #fff;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

#list-container li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

#list-container li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('bx-checkbox.svg');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

#list-container li.checked{
    color: #555;
    text-decoration: line-through;
}

#list-container li.checked::before{
    background-image: url('bx-checkbox-checked.svg');
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(226, 117, 164),#d4799a);

}


.dates{
    width: 450px;
    background-color: rgb(235, 139, 180);
    border-radius: 10px;
    box-shadow: 10px 10px 5px;
}

.dates header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

header .currentdate{
    font-size: 1.45rem;
    font-weight: 500;
}

header .icons img{
    height: 38px;
    width: 38px;
    color: #333;
    font-size: 1.9rem;
    margin: 0 1px;
    cursor: pointer;
    line-height: 38px;
    border-radius: 50%;
    text-align: center;
}

header .icons img:hover{
    background-color: #d4799a;
}

header .icons img:last-child{
    margin-right: -10px;

}
.calendar{
    padding: 20px;
}

.calendar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.calendar .days{
    margin-bottom: 20px;
}

.calendar .weeks li{
    font-weight: 500;
}

.calendar .days li{
    cursor: pointer;
    margin-top: 30px;
}

.calendar ul li{
    width: calc(100% / 7);
}

.dates h2{
    text-align: center;
    font-size: 40px;
}